<h1>{{title}}</h1>
<hr>
<nav>
    <a [routerLink] = "['/pagina-principal']"  [routerLinkActive] = "['activado']">Home</a>
    -
    <a [routerLink] = "['/frutas']" [routerLinkActive] = "['activado']">Fruta</a>
    -
    <a [routerLink] = "['/empleados']" [routerLinkActive] = "['activado']">Empleado</a>
    -
    <a [routerLink] = "['/contactos']" [routerLinkActive] = "['activado']">Contacto</a>
    -
    <a [routerLink] = "['/coches']" [routerLinkActive] = "['activado']">Coches</a>
    -
    <a [routerLink] = "['/plantillas']" [routerLinkActive] = "['activado']">Plantillas</a>
    -
    <a [routerLink] = "['/formuarioReactivo']" [routerLinkActive] = "['activado']">Formulario Reactivo</a>

</nav>
<hr>
<router-outlet></router-outlet>